body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #4296CF !important;
}
#titleimg{
   /* height: 35px;*/
   width: 40%;
}

#navbar{
    background-color: #4296CF !important;
    
}
h2{
    font-weight: bold;
}
.categorielg{
    background-color:#B0BEC5;
    border-radius: 10%;
    box-shadow:  black;
}

.navlg1 , .navlg2 , .navlg3 , .navlg4 {
    color: black;
    font-size: 150%;
    font-weight: bold;
    
}
h2{
    font-weight: bold;
}
.categorielg{
    background-color:#B0BEC5;
    border-radius: 10%;
    
}
